# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment files
.env

# IDEs
.vscode/
.idea/

# OS noise
.DS_Store

# Project data outputs (IMPORTANT: adjust to your needs)
data/processed/publish_manifest_*.json
data/raw/
data/processed/investments.json
data/processed/investments_deduped.json
data/processed/investments_old_arch.json
data/processed/report_stats.json
data/processed/vc_stats.json

# If you ever add testing
.pytest_cache/
.mypy_cache/